# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Poetry
poetry.lock
.cache/

# Pipenv
Pipfile
Pipfile.lock

# Pyenv
.python-version

# Pipx
*.whl

# Virtualenv
.env/
.venv/
ENV/
env.bak/
venv.bak/

# pytest
